@import '/src/variables.scss';

.recipesList {
  @include flex(center, center, column);
  width: 100%;
  height: auto;
  display: flex;
}

.listItem {
  min-width: 500px;
  max-width: 800px;
  .previewLink {
    width: 100%;
    height: 100%;
    margin: 15px 0px;
  }
}
