@import './variables.scss';
.App {
  height: 100%;
  width: 100%;
  background-color: $background;
}

.headerContainer {
  @include flex(center, center, column);
  background-color: $primary;
  color: white;
  .header {
    font-size: 25px;
    font-weight: 700;
    background: none;
    width: auto;
    height: auto;
    margin: 5px;
    &:hover {
      background: none;
    }
  }
  p {
    margin: 5px;
  }
}
