@import './variables.scss';
.App {
  height: 100%;
  width: 100%;
  background-color: $background;
}

.headerContainer {
  @include flex(center, center, column);
  background-color: $primary;
  color: white;
  h1 {
    margin: 0;
  }
}
