@import '../../../variables.scss';

.creatorContainer {
  @include flex(center, center, column);
}
.creatorContainer {
  width: 100%;
  margin: auto;
}

.creatorHeader {
  width: 100%;
  background-color: $secondary;
  color: white;
  text-align: center;
}

.creatorForm {
  @include flex(center, flex-start, column);
  input {
    margin: 15px 15px 15px 0;
  }
  .input {
    width: 200px;
    height: 25px;
  }
  .stepsTextArea {
    display: flex;
    width: 400px;
    height: 300px;
    resize: vertical;
  }
}

.ingredientsContainer {
  color: white;
  margin-top: 15px;
}

.linkButton {
  margin-top: 25px;
}
